/* Banner */

.banner-categorias img {
    width: 100%;
    height: 350px;
    object-fit: cover;

}

/* Título */

.titulo-categorias {
    text-align: center;
    margin-top: 40px;
}

.titulo-categorias h1 {
    color: #a56d79;
    font-size: 55px;
}

.titulo-categorias h1::after {

    content: "";
    display: block;
    width: 220px;
    height: 3px;
    background-color: #a56d79;
    margin: 10px auto;
}

/* Área das categorias */
.area-categorias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    max-width: 800px;
    margin: 50px auto;
}

/* Cartão */

.cartao-categoria {

    background-color: #9c5f47;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20PX;
    transition: 0.3s;
}

.cartao-categoria:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.cartao-categoria img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

/* Botão */

.botao-categoria {
    width: 80%;
    margin: 15px auto;
    display: block;
    padding: 12px;
    border: none;
    border-radius: 15px;
    background-color: #6b2328;
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.botao-categoria:hover {
    opacity: 0.9;
}

/* Grade dos produtos */

.grade-produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Cartão do produto */

.cartao-produto {
    width: 100%;
    background-color: #f9e7eb;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.cartao-produto img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.botao-produto {
    width: 100%;
}


/* CELULAR */


@media screen and (max-width: 480px) {

    header h2 {
        font-size: 24px;
    }

    nav {
        flex-wrap: wrap;
        gap: 8px;
    }

    nav a {
        font-size: 14px;
    }

    nav img {
        width: 20px;
        height: 20px;
    }

    .area-catalogo {
        padding: 20px 10px;
    }

    .area-catalogo h1 {
        font-size: 32px;
    }

    .grade-produtos {
        grid-template-columns: 1fr;
    }

    .cartao-produto {
        max-width: 350px;
        margin: 0 auto;
    }

}


/* CELULAR PEQUENO */


@media screen and (max-width: 320px) {

    .area-catalogo h1 {
        font-size: 26px;
    }

    .cartao-produto h3 {
        font-size: 18px;
    }

    .cartao-produto p {
        font-size: 14px;
    }

}