/* Área de encomendas */

.area-encomenda {
    text-align: center;
    padding: 50px 20px;
}

.area-encomenda h1 {
    color: #5c2f36;
    margin-bottom: 10px;
}

.area-encomenda p {
    margin-bottom: 30px;
}

/* Cartão */

.cartao-encomenda {
    background-color: #f9e7eb;
    max-width: 600px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Formulário */

#formulario-encomenda {
    display: flex;
    flex-direction: column;
}

#formulario-encomenda label {
    text-align: left;
    margin-top: 15px;
    font-weight: bold;
}

#formulario-encomenda input,
#formulario-encomenda textarea {
    margin-top: 5px;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color: #b57b87;
}

#formulario-encomenda textarea {
    resize: none;
}

/* Botão */
.botao-encomendar {
    margin-top: 25px;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color: #a56d79;
    color: white;
    cursor: pointer;
}

/* Área do cartão */

.titulo-cartao {
    margin-top: 25px;
    margin-bottom: 10px;

    color: #5c2f36;

    text-align: left;
}

.linha-cartao {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.campo-cartao {
    flex: 1;

    display: flex;
    flex-direction: column;
}

::placeholder {
    color: black;
}


/* CELULARES */


@media screen and (max-width: 480px) {

    header h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    nav a {
        font-size: 14px;
    }

    nav img {
        width: 20px;
        height: 20px;
    }

    .area-encomenda h1 {
        font-size: 2rem;
    }

    .area-encomenda p {
        font-size: 14px;
        padding: 0 10px;
    }

    .cartao-encomenda {
        width: 95%;
        padding: 20px;
    }

    .cartao-encomenda input {
        width: 100%;
        font-size: 14px;
    }

    .linha-cartao {
        flex-direction: column;
        gap: 15px;
    }

    .campo-cartao {
        width: 100%;
    }

    .botao-encomendar {
        width: 100%;
    }

    .titulo-cartao {
        text-align: center;
        font-size: 1.2rem;
    }

}


/* CELULARES PEQUENOS */


@media screen and (max-width: 320px) {

    header h2 {
        font-size: 1.2rem;
    }

    .area-encomenda h1 {
        font-size: 1.7rem;
    }

    .cartao-encomenda {
        padding: 15px;
    }

}