/* Área de recuperação de senha */

.area-recuperacao {
    text-align: center;
    padding: 50px 20px;
}

.area-recuperacao h1 {
    color: #5c2f36;
    margin-bottom: 10px;
}

.area-recuperacao p {
    margin-bottom: 30px;
}

/* Cartão */

.cartao-recuperacao {
    background-color: #f9e7eb;

    max-width: 550px;

    margin: auto;

    padding: 30px;

    border-radius: 10px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Botão */

.botao-enviar {
    margin-top: 25px;

    padding: 12px;

    border: none;

    border-radius: 20px;

    background-color: #a56d79;

    color: white;

    cursor: pointer;
}

.link-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-decoration: none;
    margin-top: 25px;
    color: #5c2f36;
    font-weight: bold;
}

#formulario-recuperacao ::placeholder {
    color: rgba(0, 0, 0, 0.795);
}

/* CELULARES */


@media screen and (max-width: 480px) {

    header h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    nav a {
        font-size: 14px;
    }

    nav img {
        width: 20px;
        height: 20px;
    }

    .area-recuperacao h1 {
        font-size: 2rem;
    }

    .area-recuperacao p {
        font-size: 14px;
        padding: 0 10px;
    }

    .cartao-recuperacao {
        width: 95%;
        padding: 20px;
    }

    .cartao-recuperacao input {
        width: 100%;
        font-size: 14px;
    }

    .botao-enviar {
        width: 100%;
    }

    .link-login {
        font-size: 14px;
    }

}


/* CELULARES PEQUENOS */


@media screen and (max-width: 320px) {

    header h2 {
        font-size: 1.2rem;
    }

    .area-recuperacao h1 {
        font-size: 1.7rem;
    }

    .cartao-recuperacao {
        padding: 15px;
    }

}